@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --font1: "Jost", serif;
}
.section2 {
  height: auto;
  overflow: hidden;
  background-color: #fff6eb;
  overflow-x: hidden;
}
.section2 .content-p{
  font-size: 18px;
}

.section2 .content-1 h3 {
  font-family: var(--font1);
  font-size: 70px;
  font-weight: 700;
}
.section2 .particleOne img {
  width: 80px;
  height: 80px;
}
.particleOne {
  padding-left: 30px;
  animation: circleicon infinite 3.3s ease-in-out;
}
@keyframes circleicon {
  50% {
    transform: translateY(19px);
  }
}
.section2 .particleTwo {
  padding-left: 25%;
  position: relative;
  z-index: 1;
  animation: circleicontwo infinite 3.3s ease-in-out;
}
.section2 .particleTwo img {
  margin-top: -35%;
}
@keyframes circleicontwo {
  50% {
    transform: translateY(19px);
  }
}
.section2 .content-1 p {
  text-align: justify;
  line-height: 2;
}
.section2 .image-container {
  position: relative;
  display: inline-block;
}

.section2 .profile-picture {
  position: relative;
  z-index: 2;
  max-width: 100%;
}

.section2 .image-container img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 28%;
}

@media (min-width: 320px) and (max-width: 768px) {
  .section2 .content-1 h3 {
    font-size: 37px;
  }
  .section2 .content-1 p {
    font-size: 15px;
    line-height: 1.9;
  }
  .section2 .particleOne img {
    width: 60px;
    height: 60px;
  }
  .section2 .image-container::before {
    left: 150px;
    width: 50%;
    height: 50%;
  }
  .section2 .particleTwo {
    padding-left: 30%;
  }
  .section2 .particleTwo img {
    margin-top: -20%;
  }
  .section2 .cv-button{
    font-size: 19px;
  }
}
@media (min-width: 464px) and (max-width: 768px) {
  .section2 .content-1 h3 {
    font-size: 58px;
  }
  .section2 .content-1 p {
    line-height: 2;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .section2 .content-1 h3 {
    font-size: 45px;
  }
  .section2 .cv-button{
    font-size: 22px;
  }
}
@media (min-width: 320px) and (max-width: 426px) {
  .section2 .image-container::before {
    left: 60px;
    width: 60%;
    height: 60%;
  }
  .section2 .particleOne img {
    width: 50px;
    height: 50px;
  }
  .section2 .particleOne {
    padding-left: -50px;
  }
  @keyframes circleicon {
    50% {
      transform: translateY(9px);
    }
  }
  .section2 .particleTwo {
    padding-left: 55%;
  }
  .section2 .particleTwo img {
    margin-top: -40%;
  }
}
@media (min-width: 426px) and (max-width: 607px) {
  .section2 .image-container::before {
    left: 90px;
    width: 60%;
    height: 60%;
  }
  .section2 .particleOne img {
    width: 50px;
    height: 50px;
  }
  .section2 .particleOne {
    padding-left: -50px;
  }
  @keyframes circleicon {
    50% {
      transform: translateY(9px);
    }
  }
  .section2 .particleTwo {
    padding-left: 35%;
  }
  .section2 .particleTwo img {
    margin-top: -30%;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .section2 .image-container::before {
    left: 70px;
    width: 60%;
    height: 60%;
  }
  .section2 .particleOne img {
    width: 50px;
    height: 50px;
  }
  .section2 .particleOne {
    padding-left: -50px;
  }
  @keyframes circleicon {
    50% {
      transform: translateY(9px);
    }
  }
  .section2 .particleTwo {
    padding-left: 25%;
  }
  .section2 .particleTwo img {
    margin-top: -40%;
  }
}

.section2 .cv-button{
  background-color: #ff6b01 !important;
  color: white !important;
  border: none !important;
  padding: 10px 20px !important;
  font-family: var(--font1) !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 25px !important;
  margin: 4px 2px !important;
  cursor: pointer !important;
  position: relative !important;
  z-index: 2 !important;
  transition: 0.5s ease background-color !important;
}
.section2 .cv-button:hover{
  background-color: hsl(25, 93%, 55%) !important;
  color: white !important;
}
.section2 .cv-button .file-icon {
  transition: transform 0.3s ease !important;
}

.section2 .cv-button:hover .file-icon {
  transform: rotate(15deg) !important;
}


